@model IEnumerable<SGART.Models.Cargo>

@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    $('#linkCargos').addClass("active");
</script>
<div class="card ">
    <div class="card-body">
        <h5 class="pb-2 text-primary font-weight-bold d-inline-block col-11">Gestión Tabla Maestra Cargos</h5>
        <button type="button" class="btn btn-icons btn-rounded btn-primary col-1 float-right" data-toggle="modal" data-target="#modal-cargo" data-backdrop="static"
                data-keyboard="false">
            <i class="mdi mdi-plus"></i>
        </button>
        <div class="row align-items-center">




            <div class="col-12 table-responsive mt-4">
                <table id="order-listing" class="table table-bordered">
                    <thead>
                        <tr class="bg-primary text-white">



                            <th class="text-center font-weight-bold">Id</th>
                            <th class="text-center font-weight-bold">Descripción</th>
                            <th class="text-center font-weight-bold">Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cargo in Model)
                        {
                            <tr>

                                <td class="text-center">@cargo.IdCargo</td>

                                <td class="text-center">
                                    @cargo.DescripcionCargo
                                </td>

                                <td class="text-center">
                                    <div class="btn-group" role="group" aria-label="Basic example">

                                        <span data-target="#btn_modificar" data-toggle="tooltip"
                                              data-placement="bottom" data-original-title="Modificar">
                                            <button class="btn btn-outline-secondary p-3"
                                                    data-toggle="modal" data-target="#modal-modificar" data-backdrop="static"
                                                    data-keyboard="false" id="btn_modificar" data-id="@cargo.IdCargo" data-descripcion="@cargo.DescripcionCargo">
                                                <i class="mdi mdi-pencil mdi-18px"></i>

                                            </button>
                                        </span>


                                        <span data-target="#btn_eliminar" data-toggle="tooltip"
                                              data-placement="bottom" data-original-title="Eliminar">
                                            <button type="button" class="btn btn-outline-secondary p-3"
                                                    data-toggle="modal" data-target="#modal-eliminar" data-backdrop="static"
                                                    data-keyboard="false" id="btn_eliminar" data-id="@cargo.IdCargo">
                                                <i class="mdi mdi-delete mdi-18px"></i>

                                            </button>
                                        </span>
                                    </div>

                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- MODAL AGREGAR CARGO -->
<div class="modal fade" id="modal-cargo" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Cargo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @using (Html.BeginForm("Create", "Cargo", FormMethod.Post, new { id = "formAgregarCargo" }))
            {


                <div class="modal-body py-0">
                    <div class="form-group">
                        <label>Descripción del cargo:</label>
                        <div class="input-group">
                            <div class="input-group-prepend bg-primary border-primary">
                                <span class="input-group-text bg-transparent">
                                    <i class="mdi mdi mdi-worker text-white"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Descripción" aria-label="Cargo" name="descripcionCargo" id="descripcionCargo">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success font-weight-bold">Guardar</button>
                        <button type="button" class="btn btn-danger font-weight-bold" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!--/MODAL AGREGAR CARGO-->
<!-- MODAL MODIFICAR CARGO -->
<div class="modal fade" id="modal-modificar" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modificar Cargo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @using (Html.BeginForm("Edit", "Cargo", FormMethod.Post, new { id = "formModificarCargo" }))
            {


                <div class="modal-body py-0">
                    <input type="hidden" name="idCargo" id="idCargoModificar" />
                    <div class="form-group">
                        <label>Descripción del cargo:</label>
                        <div class="input-group">
                            <div class="input-group-prepend bg-primary border-primary">
                                <span class="input-group-text bg-transparent">
                                    <i class="mdi mdi mdi-worker text-white"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Descripción" aria-label="Cargo" name="descripcionCargoModificar" id="descripcionCargoModificar">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success font-weight-bold">Guardar</button>
                        <button type="button" class="btn btn-danger font-weight-bold" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!--/MODAL MODIFICAR CARGO-->
<!-- MODAL ELIMINAR CARGO -->
<div class="modal fade" id="modal-eliminar" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("Delete", "Cargo", FormMethod.Post))
        {
            <input type="hidden" name="idCargo" id="idCargoEliminar" />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar Cargo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body pb-0">
                    <h6>Esta seguro de eliminar este cargo?</h6>
                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-success font-weight-bold">Acceptar</button>
                    <button type="button" class="btn btn-danger font-weight-bold" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        }
    </div>
</div>
<!--/MODAL ELIMINAR CARGO-->

<script src="~/Scripts/shared/form-validation.js"></script>

@section scripts{




    <!-- Script analisis respuesta cambio password -->
    <script type="text/javascript">
        // relleno de input modal modificar
        $('#modal-modificar').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            // Extract info from data-* attributes
            var id = button.data('id')
            var descripcion = button.data('descripcion')

            var modal = $(this)
            modal.find('#idCargoModificar').val(id)
            modal.find('#descripcionCargoModificar').val(descripcion)

        })


        $('#modal-eliminar').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            // Extract info from data-* attributes
            var id = button.data('id')

            var modal = $(this)
            modal.find('#idCargoEliminar').val(id)

        })


    </script>

}